<div class="container-fluid">
  <div class="row">
    <div style="height: 90vh; width: fit-content;" class="col-lg-2 bg-dark d-flex flex-column p-3">
      <a style="text-decoration: none;color: whitesmoke;" class="fw-bolder mb-3" routerLink="/dashboard">HOME</a>
      <a style="text-decoration: none;color: whitesmoke;" class="fw-bolder mb-3" routerLink="/users">USERS</a>
    </div>
    <div class="col-lg-11">

      <div class="d-flex align-items-center justify-content-center flex-column" style="height: 92vh;">
        <h2>Edit User form</h2>

        <form class="border rounded p-3 w-75 mt-5" #editUserForm="ngForm" >
          <div class="form-floating mb-3">
            <input type="text" name="empId" [(ngModel)]="user.empId" class="form-control" id="floatingInputId" placeholder="Id" #empid="ngModel" pattern="[a-zA-Z0-9]*" required>
            <label for="floatingInputId">Id</label>
          </div>

          <div class="mb-3 text-danger" *ngIf="empid.invalid&&empid.touched">Invalid Employee</div>

          <div class="form-floating mb-3">
            <input type="text" name="name" [(ngModel)]="user.name" class="form-control" id="floatingInputname" placeholder="Username" required #name="ngModel" pattern="[a-zA-Z0-9]*">
            <label for="floatingInputname">Username</label>
          </div>

          <div class="mb-3 text-danger" *ngIf="name.invalid&&name.touched">Invalid name</div>


          <div class="form-floating mb-3">
            <input type="email" name="email" [(ngModel)]="user.email" class="form-control" id="floatingInputemail" placeholder="Enter Your Email" #email="ngModel" required="">
            <label for="floatingInputemail">Email</label>
          </div>

          <div class="mb-3 text-danger" *ngIf="email.invalid&&email.touched">Invalid Email</div>


          <div class="form-floating mb-3">
            <select class="form-control" id="floatingInputstatus" [(ngModel)]="user.status" required #status="ngModel" name="status">
              <option value="active">Active</option>
              <option value="inactive">Inactive</option>
            </select>
            <label for="floatingInputstatus">Status</label>
          </div>

          <div class="mb-3 text-danger" *ngIf="status.invalid&&status.touched">Invalid status</div>


          <div class="text-center">
            <button (click)="cancel(user.id)" type="button" class="btn btn-warning text-light">Cancel</button>
            &nbsp;
            <button (click)="updateUser(user.id)" type="submit" [disabled]="editUserForm.invalid" class="btn btn-success text-light">Update</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>