<div *ngIf="!editAdminStatus" class="update d-flex flex-column align-items-center justify-content-center">
    <div>
        <img [src]="profilePicture" width="200px" height="200px" alt="">
    </div>
    <button (click)="editAdminBtn()" class="btn btn-link"><i class="fa-solid fa-user-pen"></i>Edit Admin Details</button>
</div>
<div *ngIf="editAdminStatus" class="admin-details d-flex flex-column align-items-center justify-content-center">
   <h3 class="fw-bolder">Update Admin Details</h3>
   <label for="">
    <input type="file" style="display: none;">
    <img [src]="profilePicture" width="150px" height="150px" class="img-fluid rounded" alt="">
   </label>
   <input type="text" [(ngModel)]="adminDetails.name"  placeholder="admin name" class="form-control mt-3">
   <input type="text"  [(ngModel)]="adminDetails.password"placeholder="admin password" class="form-control mt-3">
   <div class="d-flex justify-content-evenly mt-3 w-100">
    <button class="btn btn-warning">Cancel</button>
    <button   class="btn btn-success">Update</button>

   </div>
</div>